.app {
  min-height: 100vh;
}

.content {
  --offset: calc(var(--footer-height) + var(--logo-height));

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--offset));
}
