.key {
  --radius: 2px;
  --font-size: 0.6rem;
  --white-key-width: 20px;
  --white-key-height: calc(var(--white-key-width) * 4.57);
  --white-key-padding: calc(var(--white-key-height) / 1.28);
  --black-key-width: calc(var(--white-key-width) / 1.6);
  --black-key-height: calc(var(--white-key-height) / 1.77);
  --black-key-padding: calc(var(--black-key-height) / 1.5);
}

.natural {
  width: var(--white-key-width);
  height: var(--white-key-height);
  padding-top: var(--white-key-padding);
  margin-right: -1px;
}

.sharp,
.flat {
  width: var(--black-key-width);
  height: var(--black-key-height);
  padding-top: var(--black-key-padding);
  margin: 0 calc(-0.5 * var(--black-key-width));
}

@media (min-width: 380px) {
  .key {
    --white-key-width: 25px;
    --radius: 5px;
    --font-size: 0.8rem;
  }
}

@media (min-width: 540px) {
  .key {
    --white-key-width: 35px;
    --font-size: 1rem;
  }
}

@media (min-width: 720px) {
  .key {
    --white-key-width: 45px;
    --font-size: 1.2rem;
  }
}

@media (min-width: 960px) {
  .key {
    --white-key-width: 65px;
    --font-size: 1.5rem;
  }
}

@media (min-width: 1120px) {
  .key {
    --white-key-width: 75px;
    --font-size: 1.8rem;
  }
}
